.my-nav .navbar-brand {
    color: #e8de36;
}

.my-nav .navbar-brand:hover {
    color: #ff0100;
}

.my-nav .nav-link {
    color: #ff0100;
}

.my-nav .navbar-link:hover {
    color: #ffffff;
}

.fixed-top-2 {
    margin-top: 56px;
}

.course-title:hover {
    color: #ffffff;
}

.card-bg {
    background-color: rgba(0, 0, 0, 0.7);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #e8de36;
  text-align: center;
}
