{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <br>
    <div class="content-section">

        <form method="POST"  action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">

            <fieldset class="form-group">
                <legend class="'border-bottom mb-4"><b>Log In</b></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="'form-group">
                <button class="btn btn-outline-danger" type="submit">Login</button>
            </div>

            <br>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Don't Have An Account? <a class="ml-2" href="{% url 'register' %}" style="color: #bd2130; text-decoration: none;"><b>Sign Up Now!</b></a>
            </small>
        </div>
        <br>
    </div>
{% endblock content %}

