{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load ratings %}
{% block head_title %}Course - {{ object.course_number }}{% endblock %}

    <head>
        <link rel="stylesheet" href="{% static 'courses/courses.custom.css' %}">
    </head>

{% block content %}
    <br>
    <div class="m-sm-4">
        <h1 style="color: #bd2130"><b>{{ object.course_number }}</b></h1>
        <hr>
        <h3 style="color: #000000">{{ object.name }}</h3>
        <p>{{ object.description }}</p>
        <br>
        <div class="clearfix row">
            <div class="col-sm-8">
                <span style="margin-right: 50px;"><b>Credits: </b>{{ object.credits }}</span>
                <span style="margin-right: 50px;"><b>GenEd Fulfillment: </b>{{ object.fulfillment }}</span>
                <br>
                <br>
                <div><b>Prerequisites: </b>{{ object.prerequisites }}</div>
            </div>
            <div class="col-sm-4" style="text-align: left">{% ratings object %}</div>
        </div>
    </div>
    <br>


    <!-- SUMMARY RATINGS -->
    <!-- Add icon library -->
    {% if user.is_authenticated %}
        <div class="m-sm-4">
            <hr>
            <h4><b><em>Type your review here!</em></b></h4>
            <form  class="form-container" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ path }}">
                <!-- Comment Area -->

                {{ form|crispy }}
                <!-- <textarea rows="8" cols="50" style="margin: auto;"></textarea> -->
                <button href="{% url 'courses:course_detail' slug=course.slug %}" class="btn btn-danger" type="submit" value="save">Submit</button>
            </form>
            <br>
            <h1 style="margin-top: 30px;">REVIEWS</h1>
            <hr style="border:3px solid #f1f1f1">
        </div>
    {% else %}
        <hr>
        <br>
        <a class="m-sm-4" href="{% url 'login' %}?next={{ request.path|urlencode }}"><button class="btn btn-danger">Log In to Leave A Review!</button></a>
    {% endif %}
    <div>
        {% for comment in course.comments.all %}
            <div class="card m-sm-2">
                <div class="card-header">
                    <h5><b>{{ comment.title }}</b></h5>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.body }}</p>
                        <footer class="blockquote-footer">Posted by <cite title="Source Title">{{ comment.user }}</cite> on {{ comment.created }}</footer>
                    </blockquote>
                </div>
            </div>

        {% empty %}
            <p style="text-align: center;"><b><em>There are no comments yet. Be the first one!</em></b></p>
        {% endfor %}
        <nav aria-label="Page Navigation">
        {% if is_paginated %}
            <ul class="pagination justify-content-end" >
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" style="color: #FFDB19; background-color: #1b1e21;" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" style="color: #b79419; background-color: #212121;">Previous</span>
                </li>
            {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active">
                    <span class="page-link" style="color: #f9f9f9; background-color: #a80001; border: 1px solid #a80001;">{{ i }}<span class="sr-only">(current)</span></span>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" style="color: #FFDB19; background-color: #1b1e21;" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" style="color: #FFDB19; background-color: #1b1e21;" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" style="color: #947419; background-color: #212121;">Next</span>
                </li>
            {% endif %}
                </ul>
        {% endif %}
    </nav>

    </div>

    <br>
    <br>

{% endblock %}