<nav aria-label="Page navigation example">
    {% if page.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li>
                    <a class="page-link" aria-label="Previous" href="?page={{ page.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-link disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for pages in page.paginator.page_range %}
                {% if page.number == pages %}
                    <li class="active page-item"><span class="page-link">{{ pages }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a a class="page-link" href="?page={{ pages }}">{{ pages }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page.has_next %}
                <li><a class="page-link" href="?page={{ page.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-link disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
</nav>