{% extends 'base.html' %}
{% load static %}
{% block head_title %}HOME{% endblock %}

{% block content %}
    <style type="text/css">
        #home-div {
            background: url({% static 'terp.png' %});
            color: #788080;
            object-fit: cover; /* pic dimensions 1024x389*/
            height: 389px;
            width: 1024px;
            opacity: 60%;
        }
    </style>

    <div id="home-div">
        <h1>other stuff</h1>
        <!-- SEARCH BAR -->
                        <div>
                            <form id="searchbar" class="form-inline my-2 my-lg-0" method="GET">
                                <div class="justify-content-center">
                                <input class="form-control justify-content-center" id="searchbox" name="q" type="text" placeholder="Search" aria-label="Search">
                                <br>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                    </div>
                            </form>
                        </div>
    </div>
{% endblock %}